h1 {
	font-family: sans-serif;
}
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	#refresh {
		width: 30%;
		padding: 10px;
		background-color: #268fc3;
		color: white;
		font-size: 16px;
		border-radius: 5px;
		outline: none;
	    margin-bottom: 20px;
	}
	#text-placeholder {
		background-color: lightgray;
	    padding: 20px 20px;
	    line-height: 20px;
	    letter-spacing: 1px;
	    font-family: sans-serif;
	    border-radius: 5px;
	    width: 96%;
	    > div { 
	    	font-weight: bold;
	    	span { font-weight: normal; }
	    }
	}
	.loader {
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	&:not(.is-loading) {
		.loader { display: none; }
	}
}
